* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  padding: 50px;
  height: 100%;
  display: block;
  background-image: url('images/heaven.jpg');
  background-size: cover;
  background-attachment: fixed;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  color: yellow;
}

.container {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50px;
  border: 20px dashed yellow;
}

.heading {
  text-align: center;
  padding: 20px 0px;
  font-size: 3em;
  text-shadow: 2px 2px #ff0000;
}

.thermostat {
  color: yellow;
  background-color: green;  /* Blue */
  padding: 50px 20px;
  margin: 10px 100px;
  text-align: center;
  border-radius: 40px;
  border: 20px solid yellow;
}

.weather-api {
  color: green;
  background-color: yellow;  /* Blue */
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  border-radius: 50px;
  border: 20px solid green;
}

.button {
  color: maroon;
  border: 2px solid black;
  border-radius: 20px;
  font-size: 16px;
  padding: 20px;
  background-color: #4CAF50;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  margin-bottom: 10px;
}

.button:hover {
  background-color: pink;
}

.big {
  font-size: 7em;
  color: orange;
}

.text-input {
  color: grey;
  text-align: center;
  border: 2px solid black;
  border-radius: 20px;
  font-size: 16px;
  padding: 20px;
  background-color: black;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.image {
  height: 400px;
  margin: 20px 100px ;
  display: none;
}
